* {
  margin: 5px 0;
}

form {
  display: flex;
  gap: 5px
}

input {
  padding: 5px;
}

table {
  min-width: 500px;
}

td, th {
  padding: 5px;
  border-bottom: black 1px solid;
}

th {
  text-align: left;
}

tr:hover {
  border: 1px solid black;
}
